<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,0,0</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>10th Gen Core Processor Host Bridge/DRAM Registers</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Xeon E3-1200 v5/E3-1500 v5/6th Gen Core Processor PCIe Controller (x16)</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,0/0,2</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>TU104 USB 3.1 Host Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,0/0,3</string>
				<key>device_type</key>
				<string>Serial bus controller</string>
				<key>model</key>
				<string>TU104 USB Type-C UCSI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x12,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,18,0</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>Comet Lake PCH Thermal Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,20,0</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>Comet Lake USB 3.1 xHCI Host Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,20,2</string>
				<key>device_type</key>
				<string>RAM memory</string>
				<key>model</key>
				<string>Comet Lake PCH Shared SRAM</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,20,3</string>
				<key>device_type</key>
				<string>Network controller</string>
				<key>model</key>
				<string>Wi-Fi 6 AX201</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x15,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,21,0</string>
				<key>device_type</key>
				<string>Serial bus controller</string>
				<key>model</key>
				<string>Comet Lake PCH Serial IO I2C Controller #0</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x15,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,21,2</string>
				<key>device_type</key>
				<string>Serial bus controller</string>
				<key>model</key>
				<string>Comet Lake PCH Serial IO I2C Controller #2</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,22,0</string>
				<key>device_type</key>
				<string>Communication controller</string>
				<key>model</key>
				<string>Comet Lake HECI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x17,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,23,0</string>
				<key>device_type</key>
				<string>SATA controller</string>
				<key>model</key>
				<string>???</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,27,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Comet Lake PCI Express Root Port #17</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,27,4</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Comet Lake PCI Express Root Port #21</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x4)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,27,4/0,0</string>
				<key>device_type</key>
				<string>Non-Volatile memory controller</string>
				<key>model</key>
				<string>NVMe SSD Controller SM981/PM981/PM983</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1D,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,29,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Comet Lake PCI Express Root Port #9</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1D,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,29,0/0,0</string>
				<key>device_type</key>
				<string>Non-Volatile memory controller</string>
				<key>model</key>
				<string>NVMe SSD Controller SM981/PM981/PM983</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1D,0x6)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,29,6</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>???</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1D,0x6)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,29,6/0,0</string>
				<key>device_type</key>
				<string>Ethernet controller</string>
				<key>model</key>
				<string>Killer E2500 Gigabit Ethernet Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,0</string>
				<key>device_type</key>
				<string>ISA bridge</string>
				<key>model</key>
				<string>Comet Lake LPC Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,3</string>
				<key>device_type</key>
				<string>Audio device</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>layout-id</key>
				<data>
				AwAAAA==
				</data>
				<key>model</key>
				<string>Comet Lake PCH cAVS</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,4</string>
				<key>device_type</key>
				<string>SMBus</string>
				<key>model</key>
				<string>Comet Lake PCH SMBus Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x5)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,5</string>
				<key>device_type</key>
				<string>Serial bus controller</string>
				<key>model</key>
				<string>Comet Lake PCH SPI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				CQClPg==
				</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>model</key>
				<string>Intel UHD Graphics</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
